<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= book.title %> | Decent Reads</title>
</head>

<body>
    <h1><%= book.title %></h1>

    <h2>Reviews</h2>
    <div><a href="/books/<%= book.bookId %>/writeReview">Write a review for this book</a></div>
    <% if (book.reviews.length === 0) { %>
    <p>There are no reviews yet.</p>
    <% } else { %>
    <ul>
        <% for( const review of book.reviews ) { %>
        <li>
            <p><a href="/users/<%= review.user.userId %>"><%= review.user.email %></a></p>
            <p><%= review.rating %>/5</p>
            <p><%= review.reviewText %></p>
        </li>
        <% } %>
    </ul>
    <% } %>

    <!-- 
        The line below is an example of how you can render raw json data on the page.
        Don't do it in production but it can be useful for debugging.
    -->
    <!-- <pre><%= JSON.stringify(book, null, 4) %></pre> -->
</body>

</html>